/* INÍCIO DOS ESTILOS DO HEADER */



/* Estilos para telas menores (media query) */
@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 99;
    }
    .nav.open {
        display: flex;
    }
    .nav ul li {
        text-align: left;
        width: 100%;
    }
    .menu-toggle {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 30px;
        position: relative;
        z-index: 100;
    }
    .menu-toggle .bar {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease;
    }
    .menu-open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
/* FIM DOS ESTILOS DO HEADER */
/* INÍCIO DOS ESTILOS DO MAIN */
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.terra-media {
    margin:0 auto;
}
section {
    flex: 1 1 100%;
    margin-bottom: 20px;
}
section h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
section form {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
aside {
    flex: 1 1 300px;
    margin-left: 20px;
}
aside section {
    margin-bottom: 20px;
}
aside h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
aside p {
    margin-bottom: 10px;
}
aside ul {
    padding-left: 20px;
}
aside img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
/* FIM DOS ESTILOS DO MAIN */
/* INÍCIO DOS ESTILOS DO FOOTER */
footer {
    background-color: #f7c5c6;
    color: #000;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 0;
}
/* Estilos adicionais */
@media (max-width: 480px) {
    main {
        padding: 10px;
    }

    aside {
        margin-left: 0;
        margin-top: 20px;
    }
}
/* Estilos para a seção de campanhas */
#campanhas {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
#campanhas h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#campanhas p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
}
.campanhas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre as imagens */
}
.campanha {
    flex: 1 1 200px; /* Largura das campanhas, ajuste conforme necessário */
    text-align: center;
}
.campanha img {
    width: 100%; /* Imagens ocupam toda a largura do container */
    height: 150px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem cubra o espaço, mantendo a proporção */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.campanha p {
    margin-top: 10px;
    font-size: 0.9rem;
}
/* Novos estilos para formulários de cadastro */
.cadastro-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
form h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
form div {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
form input[type="text"],
form input[type="tel"],
form input[type="password"],
form select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
form button[type="submit"]:hover {
    background-color: #555;
}
/* Ícones nos formulários */
form label i {
    margin-right: 5px;
}
/* Estilos específicos para os botões de submit com ícones */
form button[type="submit"] i {
    margin-right: 5px;
}
/* Estilos para campos de seleção */
form select {
    width: calc(100% - 22px); /* Considerando a largura da borda */
    padding: 9px; /* Ajuste para alinhar com inputs */
}
/* Estilos adicionais específicos para telas menores, caso necessário */
@media (max-width: 480px) {
    form {
        padding: 15px;
    }
    form label {
        font-size: 0.9rem;
    }
    form input[type="text"],
    form input[type="tel"],
    form input[type="password"],
    form select {
        font-size: 0.9rem;
        padding: 8px;
    }
    form button[type="submit"] {
        padding: 10px 15px;
    }
}


/* Footer social midia */

