/* Estilos globais */
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Definir altura 100% para o html e body */
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(211, 207, 207, 0.5);
    /* color: #fff; */
    color: #000;
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
}

/* Estilo do cabeçalho */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.logo img {
    height: 70px; /* Ajuste o tamanho da logo */
    width: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    padding: 0;
    margin: 0;
}


.nav-list a {
    text-decoration: none;
    color: #b90500;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    padding: 10px 0;
    display: inline-block;
    position: relative;
    margin-left: 40px;
}

.link::before,
.link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #80c0c0;
    transform: scaleX(0);
    transition: transform 0.25s;
}

.link::before {
    top: -3px;
    transform-origin: left;
}

.link::after {
    bottom: -3px;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
    transform: scaleX(1);
}

.nav-list a:hover {
    color: #80c0c0;
    background-color: transparent;
}

/* Estilo do formulário de busca */
.search-form {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.search-form input {
    padding: 2px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
}

.search-form button {
    padding: 2px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #b90500;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.search-form button:hover {
    background-color: #a00400;
}

/* Estilo do formulário */
.form-estilo {
    display: flex;
    flex-direction: column;
    gap: 2px; 
    max-width: 500px; 
    padding: 8px; 
    background-image: linear-gradient(rgba(136, 19, 19, 0.1), rgba(255, 255, 255, 0.2)), url(./imagens/1000_F_685948750_flKAAvKcje8K4ZMSI7BXncyz3xBNv043.jpg);
    border-radius: 10px;
    border-bottom: 10px solid rgba(185, 37, 37, 0.87);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.87); 
    font-family: 'Roboto', sans-serif; 
    overflow: hidden;
}

/* Estilo do rótulo */
.form-label {
    font-size: 20px; 
    /* color: #8b0202; */
    color: #000;
    font-weight: 700; 
    margin-bottom: 8px; 
    text-transform: capitalize; 
}

/* Estilo do seletor */
.form-select {
    padding: 7px; 
    border: 2px solid #b90500; /* Borda personalizada para o seletor */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte do seletor */
    color: #333; /* Cor do texto do seletor */
    background-color: #fff; /* Cor de fundo do seletor */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
    font-family: 'Roboto', sans-serif; 
}

/* Estilo do seletor ao focar */
.form-select:focus {
    border-color: #b90500; 
    background-color: #fefefe; 
    outline: none; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
}

.form-submit {
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    background-color: #b90500; 
    color: #000; 
    font-size: 16px; 
    font-weight: 700; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
}

/* Estilo do botão ao passar o mouse */
.form-submit:hover {
    background-color: #a00400; 
    transform: scale(1.03); 
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.table-box {
    border: 2px solid #b90500; 
    border-radius: 8px; 
    padding: 10px;
    background-image: url(./imagens/AdobeStock_738597227_Previewe3.png); 
    width: 100%;
    max-width: 900px; 
    box-sizing: border-box;
    overflow-x: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.87); 
}

.table-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #b90500; 
    border: none;
    padding: 0;
    text-decoration: none;
    margin: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
    background: rgba(218, 218, 218, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px) ;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

th,
td {
	padding: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px) ;
	color: #070505;
    border: 1px solid #8b7171;
}

th {
	text-align: left;
}

table th.tipo {
    background-color: #b90500; 
    color: #fff; 
}
table {
	th {
		background-color: #b90500;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(97, 17, 17, 0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(112, 25, 25, 0.2);
				z-index: -1;
			}
		}
	}
}

tfoot tr {
    background-color: #b90500; 
    color: #fff;
    font-weight: 700; 
}

tfoot tr td {
    border: none;
    padding: 10px;
}

/* Estilo do rodapé */
footer {
    background: linear-gradient(180deg, rgba(211,207,207,1) 2%, rgba(209,179,178,1) 10%, rgba(205,140,137,1) 20%, rgba(212,94,94,1) 32%, rgba(198,57,52,1) 49%, rgba(194,30,25,1) 72%, rgba(185,5,0,1) 91%);
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto; /* Faz o rodapé "empurrar" para baixo */
}

/* Estilo principal da página */
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

/* Responsividade */
@media (max-width: 1200px) {
    .nav-list {
        flex-direction: column;
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list.show {
        display: flex;
    }

    .search-form {
        flex-direction: column;
        margin-bottom: 10px; 
    }

    .search-form input {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .search-form button {
        width: 100%;
        border-radius: 5px;
    }
}

/* Estilo para a div de contato */
#form-contact {
    background-color: #fff; /* Fundo branco para contraste */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    max-width: 500px; /* Largura máxima */
    width: 100%; /* Largura total disponível */
    box-sizing: border-box; /* Inclui o padding na largura total */
    margin-top: 150px;
    margin-left: 400px;
}

/* Estilo para o título do formulário */
#form-contact h3 {
    font-size: 24px; /* Tamanho da fonte */
    color: #b90500; /* Cor do texto do título */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-align: center; /* Centraliza o título */
}

/* Estilo dos campos do formulário */
#form-contact form div {
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

/* Estilo para os labels */
#form-contact label {
    display: block; /* Exibe o label como bloco */
    font-size: 16px; /* Tamanho da fonte */
    color: #000; /* Cor preta */
    margin-bottom: 5px; /* Espaçamento inferior */
}

/* Estilo para os campos de entrada e textarea */
#form-contact input[type="text"],
#form-contact input[type="email"],
#form-contact textarea {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda cinza clara */
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding na largura total */
}

/* Estilo para o botão de envio */
#form-contact button {
    background-color: #b90500; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro */
    display: block; /* Exibe o botão como bloco */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding na largura total */
    margin-top: 10px; /* Espaçamento superior */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

/* Estilo do botão ao passar o mouse */
#form-contact button:hover {
    background-color: #a00400; /* Cor de fundo mais escura */
}

/* Responsividade */
@media (max-width: 600px) {
    #form-contact {
        padding: 15px; /* Menos padding em telas menores */
    }

    #form-contact h3 {
        font-size: 20px; /* Menor tamanho de fonte para o título */
    }
}

/* Social Media Buttons */
.fa {
    padding: 20px;
    font-size: 200%;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: initial;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    background-color: transparent;;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    background-color: transparent;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    background-color: transparent;
    color: white;
  }